@charset "UTF-8";
/* CSS reset */

*{
	margin:0;
	padding:0;
	color:black;
	font-size:12px;
	font-family:Verdana, arial;
}

input[type="text"]{
	width:250px; height:30px;
}
input[type="submit"]{
	width:100px; height:30px;
}

.conteiner {
	display: table;
}
 
.menu {
	background:silver;
	font-family:"Comic Sans MS";
	float: left;
	width: 20%; 
}
.conteudo {
	font-family:"Kristen ITC";
	margin-left: 22%;
}

.kanban, .topo_table{
	width:100%;
	margin:0;
	padding:0;
}
.logo_table{
	aling:center;
	width:20%;
}
.menu_table{
	position:right;
	width:30%;
}

.kanban{
	background-color: #B9D3EE;
}
.do, .doing, .done{
	font-size: 14px;
	text-align: center;
	font-weight: bold;
	width:33%;
	border: solid,1px;
	margin:0;
	padding:0;
}
.do{
	background-color: #FF0000;
}

.doing{
	background-color: #27408B;
}
.done{
	background-color: #90EE90;
}

.table_do, .table_doing, .table_do{
	margin: 1%;
	background-color: White;
	width:98%;
	tex-aling: center;
}
.table_do:td{
	text-aling:center;
}
 
.topo{
	margin: auto;
	width:100%;
	margin-bottom: 15px;
}
 
img{
	margin: 10px;
	borde: 0;
}
 